*.mp4
Cardio/*.lif
Data/
BAT1/
BAT1_original/
Terato/Model*
.bash_history
.bash_logout
.bashrc
.cache/
.gitconfig
.gitignore
.ipynb_checkpoints/
.ipython/
.jupyter/
.local/
.profile
.ssh/
.wget-hsts
CARDIO_videos/
__pycache__/
Cardio/dependencies/
